.Dictionary h1{
  color: white;
  font-family: 'Libre Baskerville', serif;
  text-align: left;
  font-weight: bold;
  font-size: 30px;
  margin: 0px auto;
}

.Dictionary .second__container{
  background-color: #2B2F40;
  padding-top: 40px; 
  padding-right: 90px; 
  padding-left: 70px;
  border-top-left-radius: 50px;
}


.Dictionary h2{
  color: #3497EA;
  text-align: center;
}



.Dictionary input{
  width: 50%;
  padding: 6px 4px;
  text-align: center;
  color: white;
  background-color: #1C1B20;
  border-radius: 50px;
  border: 1px solid white;
}

.Dictionary form{
 text-align: right;
}

.Dictionary .form-control{
  background-color: #1C1B20;
  border-radius: 50px;
  border: 1px solid white;
}

.Dictionary section{
  margin-bottom: 20px;
}

.Dictionary i{
  display: inline;
}









