.Phonetic {
  height: 45px; 
}

.Phonetic a{
  text-decoration: none;
  padding: 8px 15px;
  font-size: 20px;
  margin-right: 10px;
  font-weight: bold;
  border-radius: 20px;
  transition: all 150ms ease-in-out;
}

.Phonetic a:hover{
  background-color: #3497EA;
  color: white;
}

.Phonetic .text{
  opacity: 0.5;
  font-weight: bold;
  color: white;
}