.Dictionary h1{
  color: #3497EA;
}

.Dictionary section {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

.Dictionary input{
  width: 100%;
  padding: 6px 4px;
  color: #333;
  border: 1px solid #ddd; 
}

.Dictionary section{
  margin-bottom: 20px;
}



